.user_tool
  @apply flex items-center justify-center inset-0

  
.wrapper
  @apply w-full flex items-center justify-center


.inner_div 
  height: 40px
  width: 40px
  margin-top: 20px
  margin-bottom: 20px
  margin-left: 4px
  padding: 4px 10px
  border-radius: 8px
  display: inline-flex
  align-items: center
  white-space: nowrap
  overflow: hidden
  cursor: pointer
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms
  color: var(--text)

  .button_title
    text-align: center


.icon 
  display: flex
  align-items: center
  height: 36px
  aspect-ratio: 1 / 1


@media (hover: hover)
  .inner_div:hover,
  .inner_div:focus-visible 
    width: 125px
    background-color: var(--bg)
    color: var(--text)
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s


@media (hover: none)
  .inner_div:last-child
    width: 125px
    background-color: var(--bg)
    color: var(--text)
    margin-left: 20px


.inner_div:focus-visible 
  outline: 1px solid var(--primary)
  outline-offset: 4px


.inner_div:active 
  opacity: 0.9


.spacer 
  flex-grow: 1


.divider 
  height: 28px
  width: 1px
  margin: 8px
  margin-right: 20px
  background-color: var(--text)
  
  @media (max-width: 1200px)
    display: none


.basket
  @apply cursor-pointer text-xl relative

  .count
    @apply absolute -right-2 top-0
    font-size: 12px
