.page_title
  font-size: 32px
  color: var(--primary)
   
   
.welcome
  color: var(--text)
  font-size: 20px
  margin-top: 3rem
  width: 100%
  height: auto

  img
    margin: 2rem auto
    border-radius: 6px

.hidden
  display: none

.skeleton
  @apply my-8 mx-auto w-full h-[476px] max-w-[640px] max-h-[476px] bg-[#9faa89] rounded-md overflow-hidden animate-pulse opacity-5

  @media ( max-width: 576px)
    max-height: 250px
    